* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px 5px 0px 5px;
  height: 15vh;
}

h1{
  font-weight: bold;
  color: #AF29AF;
}

main{
  height: 100vh;
  background-color: lightgrey;
}

.form-control {
  margin: 0px;
}

#consult{
  margin-left: 2px;
  height: 32px
}

#error{
  padding: 0px;
  margins: 0px;
}