* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px 5px 0px 5px;
}

h1{
  font-weight: bold;
  color: ;
}

main{
  height: 100vh;
  background-color: lightgrey;
}

#consult{
  margin-left: 2px;
  height: 32px
}